<!-- <app-user></app-user> -->
<!-- <app-header></app-header> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-footer></app-footer> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-products></app-products> -->
<!-- <app-employee-crud></app-employee-crud> -->
 <!-- <app-my-model></app-my-model> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-user-crud></app-user-crud> -->
<!-- <app-component-life-cycle></app-component-life-cycle> -->
 <!-- <app-user-http-client></app-user-http-client> -->
 <!-- <app-observable-demo1></app-observable-demo1> -->
<!-- <app-form-demo1></app-form-demo1> -->
<!-- <app-form-demo2></app-form-demo2> -->
<!-- <app-form-demo3></app-form-demo3> -->
<router-outlet></router-outlet>