<div class="m-3 col-sm-6 offset-3 border p-2">
    <h2 class="text-center">Template Driven Forms</h2>
    <form #myForm="ngForm" (submit)="submitForm(myForm)">
        <p>First Name <input type="text" name="First Name" #fname="ngModel" ngModel required><span *ngIf="fname.invalid && fname.dirty" class="text-danger m-2">First name is required.</span></p>
        <p>Last Name <input type="text" name="Last Name" #lname="ngModel" ngModel required></p>
        <p>Phone No <input type="text" name="Phone No" #phone="ngModel" ngModel required></p>
        <p>Email <input type="text" name="Email" #email="ngModel" ngModel required></p>
        <fieldset ngModelGroup="address">
            <p>City: <input name="city" ngModel></p>
            <p>State: <input name="state" ngModel></p>
            <p>PIN Code: <input name="pin" ngModel></p>
            <p>Country: <input name="country" ngModel></p>
        </fieldset>
        <input type="submit" class="m-1 btn btn-primary" [disabled]="myForm.invalid">
        <input type="reset" class="m-1 btn btn-secondary">  
    </form>
    <!-- <pre>{{myForm.status}}</pre>
    <pre>{{fname.status}}</pre>
    -->
    <pre> {{myForm.value | json}}</pre> 
</div>