<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    @for(user of users; track user.id){
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="DeleteUser(user.id)">Delete</button>
            </td>
          </tr>
    }
    </tbody>
  </table>
<div class="m-3 border" >
    <h2 class="text-center">Add a User</h2>
    <form class="m-1">
        <label for="fname">ID:</label><br>
        <input type="text" ><br>
        <label for="lname">Name</label><br>
        <input ><br><br>
        <label for="email">Email</label><br>
        <input ><br><br>
        <label for="phone">Phone</label><br>
        <input ><br><br>
        <button class="primary" >Add User</button>
      </form> 
</div>