<h3>Child 1</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First_Name</th>
        <th scope="col">Last_name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    @for(user of userList; track user.id){
        <tr>
            <!-- <th scope="row">1</th> -->
            <td>{{user.name.firstname}}</td>
            <td>{{user.name.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="child1DeleteUser(user)" >Delete</button>
            </td>
          </tr>
    }
    </tbody>
  </table>